/*phone*/
.box {
  flex-direction: column;
  margin: auto;
}
.text {
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
}

.title {
  font-size: 40px;
  color: #0000ff;
}
.explanation {
  font-size: 20px;
}

.pict {
  width: auto;
  img {
    width: 100%;
    height: auto;
  }
}

/*PC ipad*/
@media (min-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .text {
    width: 500px;
    height: auto;
    padding: 30px;
  }

  .title {
    font-size: 40px;
  }
  .explanation {
    font-size: 20px;
  }

  .pict {
    width: 500px;
  }
}
