@use "../color";
@use "sass:map";

.head {
  width: 100%;
  height: auto;
  text-align: center;
  background: map.get(color.$primary, "dark");
  .heading {
    font-size: 2.75rem;
    color: map.get(color.$primary, "darkboard-text");
  }
  .subHeading {
    font-size: 1rem;
    color: map.get(color.$primary, "darkboard-text");
  }
}
